@import "vars";

* {
  font-family: 'Playfair Display', serif !important;
}

body {
  background-color: $white;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

.horizontal-paddings {
  padding-left: 75px;
  padding-right: 75px;

  @media screen and (max-width: 900px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.vertical-paddings {
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (max-width: 900px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.top-1 {
  margin-top: 8px;
}

.top-2 {
  margin-top: 16px;
}