@import "vars";

* {
  font-family: 'Playfair Display', serif !important;
}

body {
  background-color: $white;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

.horizontal-paddings {
  padding-left: 80px;
  padding-right: 80px;
}

.vertical-paddings {
  padding-top: 60px;
  padding-bottom: 60px;
}