@import "vars";

* {
  font-family: 'Playfair Display', serif !important;
}

body {
  background-color: $white;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}